@model Department
<div class="my-3">
    <label asp-for="Code" class="col-form-label"></label>
    <input asp-for="Code" class="form-control" />
    <span asp-validation-for="Code" class=" alert-danger"></span>
</div>
<div class="my-3">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="alert-danger"></span>

</div>

<div class="my-3">
    <label asp-for="CreateAt" class="col-form-label"></label>
    <input asp-for="CreateAt" class="form-control" />
    <span asp-validation-for="CreateAt" class="alert-danger"></span>

</div>
