@model RoleDTO
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-primary">Create Role</h1>
<br /><br />
<form asp-action="Create" enctype="multipart/form-data" >

    <partial name="RolePartialView/_CreateAndEditPartialView.cshtml" />
    <div class="my-3">
        <input type="submit"  value="Create" class="btn btn-primary"/>
    </div>


</form>
@section ValidationSection
{

    <partial name="_ValidationScriptsPartial" />
}

