@model CreateEmployeeDTO


<h1 class="text-primary ">Details Of Employee </h1>
<br /><br />
<div>
    <partial name="EmployeePartialView/DetailsDeletepartialView.cshtml" />
    <div class="my-3">
        <a asp-action="Details"   class="btn btn-warning">Edit</a>
        <a asp-action="Index" asp-controller="Employee" class="btn btn-dark">Back To lis  </a>
    </div>


</div>





