
@model CreateDepartmentDTO;


@{
    ViewData["Title"] = "Create";
}

<div class="m-2">
    <h2 class="text-primary">Create Department </h2>
</div>
<form asp-action="Create" >
    <div class="my-3">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" class="form-control"/>
        <span asp-validation-for="Code" class=" alert-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="alert-danger"></span>
        
    </div>

    <div class="my-3">
        <label asp-for="CreateAt" class="col-form-label"></label>
        <input asp-for="CreateAt" class="form-control" />
        <span asp-validation-for="CreateAt" class="alert-danger"></span>

    </div>

    <div class=" my-3 ">
         <input type="submit" value=" Create " class="btn btn-primary mx-2"/>
         <a asp-action="index" class="btn btn-light" >Back To List</a>
    </div>



 
</form>

