
@model CreateDepartmentDTO;


@{
    ViewData["Title"] = "Create";
}

<div class="m-2">
    <h2 class="text-primary">Create Department </h2>
</div>
<form asp-action="Create" >
    <partial name="DepartmentPartialView/_CreateEditPartailView" />

    <div class=" my-3 ">
         <input type="submit" value=" Create " class="btn btn-primary mx-2"/>
         <a asp-action="index" class="btn btn-secondary" >Back To List</a>
    </div>



 
</form>

@section ValidationSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}