@model Department 
@{
    ViewData["Title"] = "Delete";
}

<h1 class=" text-warning">Delete Department </h1>
<br /> <br />

<form asp-action="Delete">
    <div class="my-2">
        <label asp-for="Code " class=" col-form-label"></label>
        <input asp-for="Code " class=" form-control" readonly />
    </div>
    <div class="my-2">
        <label asp-for="Name" class=" col-form-label"></label>
        <input asp-for="Name " class=" form-control" readonly />
    </div>
    <div class="my-2">
        <label asp-for="CreateAt" class=" col-form-label"></label>
        <input asp-for="CreateAt " class=" form-control" readonly />
    </div>

    <div class="my-2">
        <input type="submit" value="Delete" class="btn btn-danger mx-2" />
        <a asp-action="index" class="btn btn-secondary"> BackToList </a>

    </div>
</form>
  





