
@model Department
@{
    ViewData["Title"] = "Details";
}

<h1  class="text-primary">Details Page </h1>
<br /> 
<br /> 
 <div>


    <partial name="DepartmentPartialView/_DeleteAndDetailsPartialView" />


     <div class="my-2">
         <a asp-action="Details" class="btn btn-warning mx-2" >Edit</a>
         <a asp-action="index" class="btn btn-secondary"> BackToList </a>

     </div>

 </div>

