@model Department;
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-primary">Update Department </h1>
<br /><br />

<form asp-action="Update">
    <partial name="DepartmentPartialView/_CreateEditPartailView" />

        <div>
            <input type="submit" value=" Save " class="btn btn-warning" />
            <a asp-action="index" class="btn btn-secondary"> BackToList</a>
       
        </div>

</form>


@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
   

}