
@model CreateEmployeeDTO;
@{
    var departments = new SelectList(ViewData["Departments"] as  IEnumerable<Department> ,"Id","Name");
}
<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" name="Name" readonly />

</div>

<div>
    <label asp-for="Age" class="col-form-label"></label>
    <input asp-for="Age" class="form-control"  readonly />

</div>

<div>
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" name="Email" readonly />
 
</div>
<div>
    <label asp-for="Address" class="col-form-label"></label>
    <input asp-for="Address" class="form-control" name="Address" readonly />
 
</div>

<div>
    <label asp-for="phone" class="col-form-label"></label>
    <input asp-for="phone" class="form-control" name="phone" readonly />
 
</div>

<div>
    <label asp-for="Salary" class="col-form-label"></label>
    <input asp-for="Salary" class="form-control" name="Salary" readonly />
    
</div>
<div>

    <label asp-for="IsActive" class="col-form-label"></label>
    <input asp-for="IsActive" class="form-check" name="IsActive" disabled />

</div>

<div>
    <label asp-for="IsDeleted" class="col-form-label"></label>
    <input type="checkbox" asp-for="IsDeleted" class="form-check" name="IsDeleted" disabled />

</div>
<div>
    <label asp-for="HiringDate" class="col-form-label"></label>
    <input asp-for="HiringDate" class="form-control" name="HiringDate" readonly />

</div>
<div>
    <label asp-for="CreateAt" class="col-form-label"></label>
    <input asp-for="CreateAt" class="form-control" name="CreateAt" readonly />
  
</div>

<div>
    <label asp-for="DepartmentId" class="col-form-label"></label>
    <select asp-for="DepartmentId" asp-items="departments" class="form-control" disabled>
        <option value="@null">---Select Department---</option>
    </select>
  
</div>
<div>
    <label asp-for="Image" class="col-form-label"></label>
    <input asp-for="Image" class="form-control"  readonly />

</div>
