
@model RoleDTO;


<div>
    <label asp-for="Id" class="col-form-label"></label>
    <input asp-for="Id" class="form-control" readonly />

</div>

<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control"  readonly />

</div>



