@model UserToReturnDTO


<h1 class="text-primary ">Details Of User </h1>
<br /><br />
<div>
    <partial name="UserPartialView/DetailsDeletepartialView.cshtml" />
    <div class="my-3">
        <a asp-action="Details"class="btn btn-warning">Edit</a>
        <a asp-action="Index" asp-controller="User" class="btn btn-dark">Back To lis  </a>
    </div>


</div>





