@model UserToReturnDTO;
@{
    ViewData["Title"] = "Update";
}

<h1 class="text-primary">Update User </h1>
<br /><br />

<div asp-validation-summary="All" class="alert alert-danger"></div>
<form asp-action="Update" enctype="multipart/form-data">

    <partial name="UserPartialView/_CreateAndEditPartialView.cshtml" />
 
    <div class="my-3">
      
        <input type="submit" value="Save" class="btn btn-warning" />
        <a asp-action="Index" asp-controller="User" class="btn btn-dark"> BackToList</a>
    </div>


</form>
@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 *@
}
